<!DOCTYPE html>
<html>
<head>
    <title>Insert Data</title>
</head>
<body>
    <h1>Insert Data</h1>
    <form action="/insert" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city"><br><br>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country"><br><br>
        <label for="pincode">Pincode:</label>
        <input type="text" id="pincode" name="pincode"><br><br>
        <label for="score">Score:</label>
        <input type="text" id="score" name="score"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
